In [1]:
import pandas as pd

## year테이블 만들기

In [2]:
year = [i for i in range(2000, 2022, 1)]
year1 = [i for i in range(1950, 2000, 1)]

In [3]:
year_df = pd.DataFrame(year+year1)

In [4]:
year_df = year_df.rename_axis('id').reset_index()

In [5]:
year_df.columns = ['id','year']

In [6]:
year_df['id'] = year_df['id'].apply(lambda x: x + 28 if x > 21 else x)

In [7]:
year_df.to_csv('year.csv', index=False)

In [8]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [9]:
pd.read_csv('year.csv')

    id  year
0    0  2000
1    1  2001
2    2  2002
3    3  2003
4    4  2004
..  ..   ...
67  95  1995
68  96  1996
69  97  1997
70  98  1998
71  99  1999

[72 rows x 2 columns]

## 가변 전광판 데이터 다듬기

In [2]:
df1 = pd.read_csv('서울시_가변전광판_설치현황.csv')

df1 = df1.rename_axis('id').reset_index()

df1

,id,가변전광표지판명,시도명,시군구명,시군구코드,도로종류,도로노선명,도로노선번호,도로노선방향,위도,...,전광판함체가로길이,전광판함체세로길이,전광판높이,설치유형코드,출력방향코드,발광패널유형코드,표출색상,표시유형코드,출력크기,설치연도
0,0,주정차단속안내판(스마트CCTV감지기)-주차-001,서울특별시,광진구,11215,구도,아차산로,NaN,NaN,37.547709,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,2019
1,1,주정차단속안내판(스마트CCTV감지기)-주차-002,서울특별시,광진구,11215,구도,아차산로,NaN,NaN,37.543603,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,2019
2,2,주정차단속안내판(스마트CCTV감지기)-주차-003,서울특별시,광진구,11215,구도,능동로,NaN,NaN,37.552057,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,2019
3,3,주정차단속안내판-주차-004,서울특별시,광진구,11215,구도,군자로,NaN,NaN,37.548913,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,2007
4,4,주정차단속안내판(스마트CCTV감지기)-주차-005,서울특별시,광진구,11215,구도,광나루로,NaN,NaN,37.545200,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,428,판교구리방향 서하남,서울특별시,송파구,11710,고속,서울외곽순환고속도로,100번,2.0,37.490756,...,9400.0,2200.0,8000.0,2,2,1,빨간색+노란색+녹색,2,3단15열,2009
429,429,국도 상일IC(천호대교),서울특별시,강동구,11740,고속,천호대로,50번,2.0,37.539522,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,2009
430,430,판교구리방향 강일IC,서울특별시,강동구,11740,고속,서울외곽순환고속도로,100번,2.0,37.554803,...,9400.0,2200.0,8000.0,2,2,1,모든 색상,2,3단15열,2018
431,431,국도 강일IC(88대로),서울특별시,강동구,11740,고속,올림픽대로,88번,2.0,37.568172,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,2009
432,432,국도 목포방향 금천IC,서울특별시,금천구,11545,고속,서부간선도로,1번,1.0,37.462303,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,2009

In [3]:
# df1['설치연도'] = pd.to_numeric(df1['설치연도'])
df1['설치연도'] = df1['설치연도'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df1.loc[df1['설치연도'] == f'200{i}', '설치년도코드'] = i
    else:
        df1.loc[df1['설치연도'] == f'20{i}', '설치년도코드'] = i

df1['설치년도코드'] = df1['설치년도코드'].apply(lambda _: int(_))

In [4]:
df1 = df1.rename(columns = {"시도명":"sido", "시군구명":"gugun", "설치년도코드":"year_code"})

In [5]:
del df1['설치연도']

In [6]:
df1

,id,가변전광표지판명,sido,gugun,시군구코드,도로종류,도로노선명,도로노선번호,도로노선방향,위도,...,전광판함체가로길이,전광판함체세로길이,전광판높이,설치유형코드,출력방향코드,발광패널유형코드,표출색상,표시유형코드,출력크기,year_code
0,0,주정차단속안내판(스마트CCTV감지기)-주차-001,서울특별시,광진구,11215,구도,아차산로,NaN,NaN,37.547709,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,19
1,1,주정차단속안내판(스마트CCTV감지기)-주차-002,서울특별시,광진구,11215,구도,아차산로,NaN,NaN,37.543603,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,19
2,2,주정차단속안내판(스마트CCTV감지기)-주차-003,서울특별시,광진구,11215,구도,능동로,NaN,NaN,37.552057,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,19
3,3,주정차단속안내판-주차-004,서울특별시,광진구,11215,구도,군자로,NaN,NaN,37.548913,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,7
4,4,주정차단속안내판(스마트CCTV감지기)-주차-005,서울특별시,광진구,11215,구도,광나루로,NaN,NaN,37.545200,...,NaN,NaN,NaN,2,1,1,NaN,2,1단7열,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,428,판교구리방향 서하남,서울특별시,송파구,11710,고속,서울외곽순환고속도로,100번,2.0,37.490756,...,9400.0,2200.0,8000.0,2,2,1,빨간색+노란색+녹색,2,3단15열,9
429,429,국도 상일IC(천호대교),서울특별시,강동구,11740,고속,천호대로,50번,2.0,37.539522,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,9
430,430,판교구리방향 강일IC,서울특별시,강동구,11740,고속,서울외곽순환고속도로,100번,2.0,37.554803,...,9400.0,2200.0,8000.0,2,2,1,모든 색상,2,3단15열,18
431,431,국도 강일IC(88대로),서울특별시,강동구,11740,고속,올림픽대로,88번,2.0,37.568172,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,9
432,432,국도 목포방향 금천IC,서울특별시,금천구,11545,고속,서부간선도로,1번,1.0,37.462303,...,6400.0,1600.0,8000.0,1,2,1,빨간색+노란색+녹색,2,2단10열,9

In [7]:
df1.to_csv('가변전광판.csv', index=False, encoding='cp949')

## 공영주차장 데이터 다듬기

In [18]:
df2 = pd.read_csv('서울시_공영주차장_설치현황.csv', encoding='cp949')

# df2 = df2.rename_axis('id').reset_index()

df2

      Unnamed: 0              주소 주차장 종류명          운영구분명 유무료구분명 야간무료개방여부명
0              0  구로구 구로동 414-13  노상 주차장        시간제 주차장     유료    야간 미개방
1              1  구로구 구로동 414-13  노상 주차장        시간제 주차장     유료    야간 미개방
2              2  구로구 구로동 414-13  노상 주차장        시간제 주차장     유료    야간 미개방
3              3  구로구 구로동 414-13  노상 주차장        시간제 주차장     유료    야간 미개방
4              4  구로구 구로동 414-13  노상 주차장        시간제 주차장     유료    야간 미개방
...          ...             ...     ...            ...    ...       ...
1995        1995  강북구 수유동 181-40  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방
1996        1996  강북구 수유동 181-40  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방
1997        1997  강북구 수유동 181-40  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방
1998        1998   강서구 화곡동 890-0  노외 주차장        시간제 주차장     유료    야간 미개방
1999        1999   강북구 수유동 349-3  노외 주차장        시간제 주차장     유료    야간 미개방

[2000 rows x 6 columns]

In [19]:
df2 = df2.rename(columns = {'Unnamed: 0':'id'})

In [20]:
df2['주소'].apply(lambda _: _.split())

0       [구로구, 구로동, 414-13]
1       [구로구, 구로동, 414-13]
2       [구로구, 구로동, 414-13]
3       [구로구, 구로동, 414-13]
4       [구로구, 구로동, 414-13]
               ...
1995    [강북구, 수유동, 181-40]
1996    [강북구, 수유동, 181-40]
1997    [강북구, 수유동, 181-40]
1998     [강서구, 화곡동, 890-0]
1999     [강북구, 수유동, 349-3]
Name: 주소, Length: 2000, dtype: object

In [21]:
df2['시도명'] = '서울특별시'

In [22]:
df2['시군구명'] = df2['주소'].apply(lambda _: _.split()[0])

In [23]:
df2['상세주소'] = df2['주소'].apply(lambda _: _.split()[1]) + df2['주소'].apply(lambda _:_.split()[2])

In [24]:
del df2['주소']

In [25]:
df2 = df2.rename(columns={'시도명':'sido','시군구명':'gugun','상세주소':'address'})

In [26]:
df2

        id 주차장 종류명          운영구분명 유무료구분명 야간무료개방여부명   sido gugun    address
0        0  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
1        1  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
2        2  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
3        3  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
4        4  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
...    ...     ...            ...    ...       ...    ...   ...        ...
1995  1995  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1996  1996  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1997  1997  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1998  1998  노외 주차장        시간제 주차장     유료    야간 미개방  서울특별시   강서구   화곡동890-0
1999  1999  노외 주차장        시간제 주차장     유료    야간 미개방  서울특별시   강북구   수유동349-3

[2000 rows x 8 columns]

In [28]:
df2.to_csv('공영주차장.csv', index=False, encoding='cp949')

In [30]:
pd.read_csv('공영주차장.csv', encoding='cp949')

        id 주차장 종류명          운영구분명 유무료구분명 야간무료개방여부명   sido gugun    address
0        0  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
1        1  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
2        2  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
3        3  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
4        4  노상 주차장        시간제 주차장     유료    야간 미개방  서울특별시   구로구  구로동414-13
...    ...     ...            ...    ...       ...    ...   ...        ...
1995  1995  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1996  1996  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1997  1997  노상 주차장  시간제 + 거주자 주차장     유료    야간 미개방  서울특별시   강북구  수유동181-40
1998  1998  노외 주차장        시간제 주차장     유료    야간 미개방  서울특별시   강서구   화곡동890-0
1999  1999  노외 주차장        시간제 주차장     유료    야간 미개방  서울특별시   강북구   수유동349-3

[2000 rows x 8 columns]

## 과속방지턱 데이터 다듬기

In [6]:
del df3['번호']

In [7]:
del df3['과속방지턱관리번호']

In [8]:
del df3['도로명']

In [9]:
del df3['소재지도로명주소']

In [11]:
del df3['소재지지번주소']

In [12]:
del df3['설치장소']

In [13]:
del df3['과속방지턱재료']

In [14]:
del df3['도로유형구분']

In [15]:
del df3['규격여부']

In [16]:
del df3['WGS84위도']

In [17]:
del df3['WGS84경도']

In [18]:
del df3['보차분리여부']

In [19]:
del df3['연속형여부']

In [20]:
del df3['관리기관명']

In [21]:
del df3['관리기관전화번호']

In [22]:
del df3['데이터기준일자ㅇ']

In [24]:
del df3['과속방지턱형태구분']

In [26]:
del df3['과속방지턱높이']

In [28]:
del df3['과속방지턱폭']

In [30]:
del df3['과속방지턱연장']

In [35]:
df3 = df3.rename(columns={'시도명':'sido','시군구명':'gugun','과속방지턱설치연도':'year_code'})

In [34]:
df3

          id    시도명 시군구명  과속방지턱설치연도
0          0  서울특별시  관악구     1999.0
1          1  서울특별시  관악구     1999.0
2          2  서울특별시  관악구     1999.0
3          3  서울특별시  관악구     1999.0
4          4  서울특별시  관악구     1999.0
...      ...    ...  ...        ...
27137  27137  서울특별시  종로구        NaN
27138  27138  서울특별시  강서구     2021.0
27139  27139  서울특별시  강서구     2021.0
27140  27140  서울특별시  강서구     2021.0
27141  27141  서울특별시  종로구        NaN

[27142 rows x 4 columns]

In [38]:
df3['year_code'] = df3['year_code'].apply(lambda x:x-2000 if x>=2000 else x-1900)

In [39]:
df3

          id   sido gugun  year_code
0          0  서울특별시   관악구       99.0
1          1  서울특별시   관악구       99.0
2          2  서울특별시   관악구       99.0
3          3  서울특별시   관악구       99.0
4          4  서울특별시   관악구       99.0
...      ...    ...   ...        ...
27137  27137  서울특별시   종로구        NaN
27138  27138  서울특별시   강서구       21.0
27139  27139  서울특별시   강서구       21.0
27140  27140  서울특별시   강서구       21.0
27141  27141  서울특별시   종로구        NaN

[27142 rows x 4 columns]

In [3]:
# id, year, sido, gugun, type
df3 = pd.read_excel('서울시_과속방지턱_설치현황.xlsx')

df3 = df3.rename_axis('id').reset_index()

df3

,id,번호,과속방지턱관리번호,도로명,시도명,시군구명,소재지도로명주소,소재지지번주소,설치장소,과속방지턱재료,...,도로유형구분,규격여부,WGS84위도,WGS84경도,보차분리여부,연속형여부,과속방지턱설치연도,관리기관명,관리기관전화번호,데이터기준일자
0,0,1,245,장군봉1길,서울특별시,관악구,서울특별시 관악구 장군봉1길20,서울특별시 관악구 봉천동1522-2,풍년 쌀상회 부근,아스팔트,...,소로,Y,37.481806,126.941212,N,N,1999.0,서울특별시관악구청,02-879-6762,2020-12-07
1,1,2,246,장군봉길,서울특별시,관악구,서울특별시 관악구 장군봉길69,서울특별시 관악구 봉천동1533-20,봉림중학교 부근,아스팔트,...,소로,Y,37.479898,126.938894,N,N,1999.0,서울특별시관악구청,02-879-6762,2020-12-07
2,2,3,247,장군봉길,서울특별시,관악구,서울특별시 관악구 장군봉길93,서울특별시 관악구 봉천동1535-55,효신타운 부근,아스팔트,...,소로,Y,37.479102,126.939491,N,N,1999.0,서울특별시관악구청,02-879-6762,2020-12-07
3,3,4,248,쑥고개로,서울특별시,관악구,서울특별시 관악구 쑥고개로21,서울특별시 관악구 신림동94-278,대원아파트 부근,아스팔트,...,일반,Y,37.478179,126.939289,N,N,1999.0,서울특별시관악구청,02-879-6762,2020-12-07
4,4,5,249,참숯5길,서울특별시,관악구,서울특별시 관악구 참숯5길 18,서울특별시 관악구 신림동95-59,이편한세상 아파트 부근,아스팔트,...,소로,Y,37.476752,126.940655,Y,N,1999.0,서울특별시관악구청,02-879-6762,2020-12-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27137,27137,27138,NaN,북촌로 141,서울특별시,종로구,북촌로 141,NaN,도로,아스팔트 콘크리트,...,일반,Y,37.587191,126.982673,Y,Y,NaN,서울특별시 종로구청,02-2148-3273,2020-07-02
27138,27138,27139,1949,마곡동 767-6(702동 앞),서울특별시,강서구,"서울특별시 강서구 마곡서로 133(마곡동, 마곡엠밸리7단지)",서울특별시 강서구 마곡동 743-4 마곡엠밸리7단지,도로,아스팔트 콘크리트,...,소로,Y,38.280600,126.492300,Y,N,2021.0,서울특별시 강서구청,02-2600-6941,2022-02-15
27139,27139,27140,1947,강서로18마길 15,서울특별시,강서구,"서울특별시 강서구 강서로18마길 15(화곡동, 호성주택)",서울특별시 강서구 화곡동 397-11 호성주택,도로,아스팔트 콘크리트,...,소로,Y,38.262000,126.505000,Y,Y,2021.0,서울특별시 강서구청,02-2600-6941,2022-02-15
27140,27140,27141,1948,마곡동 767-6(714동 앞),서울특별시,강서구,"서울특별시 강서구 마곡서로 133(마곡동, 마곡엠밸리7단지)",서울특별시 강서구 마곡동 743-4 마곡엠밸리7단지,도로,아스팔트 콘크리트,...,소로,Y,38.281000,126.492300,Y,N,2021.0,서울특별시 강서구청,02-2600-6941,2022-02-15
27141,27141,27142,NaN,이화장길 46,서울특별시,종로구,이화장길 46,NaN,도로,아스팔트 콘크리트,...,일반,Y,37.577363,127.004709,Y,Y,NaN,서울특별시 종로구청,02-2148-3273,2020-07-02

In [32]:
df3['year'] = df3['year'].apply(lambda _: int(_))
df3['year'] = df3['year'].apply(lambda _: str(_))

In [33]:
for i in range(22):
    if len(str(i)) == 1:
        df3.loc[df3['year'] == f'200{i}', 'year_code'] = i
    else:
        df3.loc[df3['year'] == f'20{i}', 'year_code'] = i

df3['year_code'] = df3['year_code'].apply(lambda _: int(_))

In [34]:
del df3['year']

In [35]:
df3

        id   sido gugun type  year_code
0        0  서울특별시   관악구  원호형         17
1        1  서울특별시   관악구  원호형         17
2        2  서울특별시   관악구  원호형         18
3        3  서울특별시   관악구  원호형         17
4        4  서울특별시   관악구  원호형         17
...    ...    ...   ...  ...        ...
4587  4587  서울특별시   강남구  원호형         20
4588  4588  서울특별시   강남구  원호형         20
4589  4589  서울특별시   강서구  원호형         21
4590  4590  서울특별시   강서구  원호형         21
4591  4591  서울특별시   강서구  원호형         21

[4592 rows x 5 columns]

In [40]:
df3.to_csv('과속방지턱.csv', index=False, encoding='cp949')

In [41]:
pd.read_csv('과속방지턱.csv', encoding='cp949')

          id   sido gugun  year_code
0          0  서울특별시   관악구       99.0
1          1  서울특별시   관악구       99.0
2          2  서울특별시   관악구       99.0
3          3  서울특별시   관악구       99.0
4          4  서울특별시   관악구       99.0
...      ...    ...   ...        ...
27137  27137  서울특별시   종로구        NaN
27138  27138  서울특별시   강서구       21.0
27139  27139  서울특별시   강서구       21.0
27140  27140  서울특별시   강서구       21.0
27141  27141  서울특별시   종로구        NaN

[27142 rows x 4 columns]

## 교통사고 발생현황 데이터 다듬기

In [40]:
df4 = pd.read_csv('서울시_교통사고발생_현황.csv')

df4 = df4.rename_axis('id').reset_index()

df4

    id    연도    구분     합계   차대사람    차대차  차량단독
0    0  2017  발생건수  38625  10249  27103  1273
1    1  2017  사망자수    343    189    117    37
2    2  2017  부상자수  53810  10706  41642  1462
3    3  2018  발생건수  38795   9978  27522  1295
4    4  2018  사망자수    304    182     96    26
5    5  2018  부상자수  53751  10402  41889  1460
6    6  2019  발생건수  39258   9896  28150  1212
7    7  2019  사망자수    250    139     84    27
8    8  2019  부상자수  53904  10320  42181  1403
9    9  2020  발생건수  35227   7671  26508  1048
10  10  2020  사망자수    219    113     80    26
11  11  2020  부상자수  47513   7996  38373  1144

In [41]:
df4['연도'] = df4['연도'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df4.loc[df4['연도'] == f'200{i}', 'year_code'] = i
    else:
        df4.loc[df4['연도'] == f'20{i}', 'year_code'] = i

df4['year_code'] = df4['year_code'].apply(lambda _: int(_))

In [42]:
del df4['연도']

In [43]:
df4 = df4.rename(columns={'구분':'CG','합계':'sum','차대사람':'CtoP','차대차':'CtoC','차량단독':'CAlone'})

In [44]:
df4

    id    CG    sum   CtoP   CtoC  CAlone  year_code
0    0  발생건수  38625  10249  27103    1273         17
1    1  사망자수    343    189    117      37         17
2    2  부상자수  53810  10706  41642    1462         17
3    3  발생건수  38795   9978  27522    1295         18
4    4  사망자수    304    182     96      26         18
5    5  부상자수  53751  10402  41889    1460         18
6    6  발생건수  39258   9896  28150    1212         19
7    7  사망자수    250    139     84      27         19
8    8  부상자수  53904  10320  42181    1403         19
9    9  발생건수  35227   7671  26508    1048         20
10  10  사망자수    219    113     80      26         20
11  11  부상자수  47513   7996  38373    1144         20

In [45]:
df4.to_csv('교통사고발생현황.csv', index=False, encoding='cp949')

## 무인감시카메라 설치현황 데이터 다듬기

In [46]:
df5 = pd.read_csv('서울시_무인감시카메라_설치현황.csv')

df5 = df5.rename_axis('id').reset_index()

df5

        id    설치연도    시도명  시군구명  단속구분 Type
0        0  2016.0  서울특별시   중랑구     2   신호
1        1  2016.0  서울특별시   도봉구     2   신호
2        2  2016.0  서울특별시   노원구     2   신호
3        3  2016.0  서울특별시  서대문구     2   신호
4        4  2016.0  서울특별시    중구     2   신호
...    ...     ...    ...   ...   ...  ...
1519  1519  2016.0  서울특별시   구로구     1   과속
1520  1520  2016.0  서울특별시   서초구     2   신호
1521  1521  2016.0  서울특별시   강남구     2   신호
1522  1522  2016.0  서울특별시   강남구     2   신호
1523  1523  2016.0  서울특별시   강남구     2   신호

[1524 rows x 6 columns]

In [47]:
df5['설치연도'] = df5['설치연도'].apply(lambda _: int(_))
df5['설치연도'] = df5['설치연도'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df5.loc[df5['설치연도'] == f'200{i}', 'year_code'] = i
    else:
        df5.loc[df5['설치연도'] == f'20{i}', 'year_code'] = i

df5['year_code'] = df5['year_code'].apply(lambda _: int(_))

In [48]:
del df5['설치연도']

In [49]:
df5 = df5.rename(columns={'시도명':'sido','시군구명':'gugun','단속구분':'gubun'})

In [50]:
df5

        id   sido gugun  gubun Type  year_code
0        0  서울특별시   중랑구      2   신호         16
1        1  서울특별시   도봉구      2   신호         16
2        2  서울특별시   노원구      2   신호         16
3        3  서울특별시  서대문구      2   신호         16
4        4  서울특별시    중구      2   신호         16
...    ...    ...   ...    ...  ...        ...
1519  1519  서울특별시   구로구      1   과속         16
1520  1520  서울특별시   서초구      2   신호         16
1521  1521  서울특별시   강남구      2   신호         16
1522  1522  서울특별시   강남구      2   신호         16
1523  1523  서울특별시   강남구      2   신호         16

[1524 rows x 6 columns]

In [51]:
df5.to_csv('무인감시카메라.csv', index=False, encoding='cp949')

## 스마트가로등설치현황 데이터 다듬기

In [52]:
df6 = pd.read_csv('서울시_스마트가로등_설치현황.csv')

df6 = df6.rename_axis('id').reset_index()

df6

      id  Unnamed: 0 시군구명    설치연도     데이터기준일자
0      0           0  광진구  2020.0  2022-03-04
1      1           1  광진구  2021.0  2022-03-04
2      2           2  광진구  2020.0  2022-03-04
3      3           3  광진구  2020.0  2022-03-04
4      4           4  광진구  2020.0  2022-03-04
..   ...         ...  ...     ...         ...
292  292        7243  강서구  2020.0  2021-03-19
293  293        7244  강서구  2020.0  2021-03-19
294  294        7245  강서구  2020.0  2021-03-19
295  295        7246  강서구  2020.0  2021-03-19
296  296        7869   중구  2014.0  2021-10-21

[297 rows x 5 columns]

In [53]:
del df6['Unnamed: 0']

In [54]:
df6['sido'] = '서울특별시'

In [55]:
df6

      id 시군구명    설치연도     데이터기준일자   sido
0      0  광진구  2020.0  2022-03-04  서울특별시
1      1  광진구  2021.0  2022-03-04  서울특별시
2      2  광진구  2020.0  2022-03-04  서울특별시
3      3  광진구  2020.0  2022-03-04  서울특별시
4      4  광진구  2020.0  2022-03-04  서울특별시
..   ...  ...     ...         ...    ...
292  292  강서구  2020.0  2021-03-19  서울특별시
293  293  강서구  2020.0  2021-03-19  서울특별시
294  294  강서구  2020.0  2021-03-19  서울특별시
295  295  강서구  2020.0  2021-03-19  서울특별시
296  296   중구  2014.0  2021-10-21  서울특별시

[297 rows x 5 columns]

In [56]:
df6['설치연도'] = df6['설치연도'].apply(lambda _: int(_))
df6['설치연도'] = df6['설치연도'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df6.loc[df6['설치연도'] == f'200{i}', 'year_code'] = i
    else:
        df6.loc[df6['설치연도'] == f'20{i}', 'year_code'] = i

df6['year_code'] = df6['year_code'].apply(lambda _: int(_))

In [57]:
df6 = df6.rename(columns={'시군구명':'gugun','데이터기준일자':'data_date'})

In [58]:
del df6['설치연도']

In [59]:
df6

      id gugun   data_date   sido  year_code
0      0   광진구  2022-03-04  서울특별시         20
1      1   광진구  2022-03-04  서울특별시         21
2      2   광진구  2022-03-04  서울특별시         20
3      3   광진구  2022-03-04  서울특별시         20
4      4   광진구  2022-03-04  서울특별시         20
..   ...   ...         ...    ...        ...
292  292   강서구  2021-03-19  서울특별시         20
293  293   강서구  2021-03-19  서울특별시         20
294  294   강서구  2021-03-19  서울특별시         20
295  295   강서구  2021-03-19  서울특별시         20
296  296    중구  2021-10-21  서울특별시         14

[297 rows x 5 columns]

In [60]:
df6.to_csv('스마트가로등.csv', index=False, encoding='cp949')

## 스마트횡단보도 데이터 다듬기

In [61]:
df7 = pd.read_csv('서울시_스마트횡단보도_설치현황.csv',encoding='cp949')

df7 = df7.rename_axis('id').reset_index()

df7

    id  Unnamed: 0           loc        date
0    0           0   강서구 화곡로 302  2021-03-31
1    1           1  강서구 강서로5길 64  2021-03-31
2    2           2   강서구 강서로 301  2021-03-31
3    3           3   강서구 강서로 506  2021-03-31
4    4           4   강서구 허준로 209  2021-03-31
..  ..         ...           ...         ...
59  59          59   양천구 등촌로 216  2020-12-01
60  60          60   은평구 가좌로 184  2020-12-31
61  61          61   은평구 가좌로 179  2020-12-31
62  62          62   은평구 백련산로 38  2020-12-31
63  63          63   은평구 불광로 136  2020-12-31

[64 rows x 4 columns]

In [62]:
del df7['Unnamed: 0']

In [63]:
df7['sido'] = '서울특별시'

In [64]:
df7['gugun'] = df7['loc'].apply(lambda _: _.split()[0])

In [65]:
df7['loc'].apply(lambda x: x.split()[0]).unique()

array(['강서구', '관악구', '동작구', '양천구', '은평구'], dtype=object)

In [66]:
df7['address'] = df7['loc'].apply(lambda x: x[4:])

In [67]:
del df7['loc']

In [68]:
df7['date'] = df7['date'].apply(lambda x: x[:4])

In [69]:
df7 = df7.rename(columns={'date':'year_code'})

In [70]:
df7['year_code'] = df7['year_code'].apply(lambda _: int(_))
df7['year_code'] = df7['year_code'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df7.loc[df7['year_code'] == f'200{i}', 'year_code'] = i
    else:
        df7.loc[df7['year_code'] == f'20{i}', 'year_code'] = i

df7['year_code'] = df7['year_code'].apply(lambda _: int(_))

In [71]:
df7

    id  year_code   sido gugun   address
0    0         21  서울특별시   강서구   화곡로 302
1    1         21  서울특별시   강서구  강서로5길 64
2    2         21  서울특별시   강서구   강서로 301
3    3         21  서울특별시   강서구   강서로 506
4    4         21  서울특별시   강서구   허준로 209
..  ..        ...    ...   ...       ...
59  59         20  서울특별시   양천구   등촌로 216
60  60         20  서울특별시   은평구   가좌로 184
61  61         20  서울특별시   은평구   가좌로 179
62  62         20  서울특별시   은평구   백련산로 38
63  63         20  서울특별시   은평구   불광로 136

[64 rows x 5 columns]

In [72]:
df7.to_csv('스마트횡단보도.csv', index=False, encoding='cp949')

## 어린이보호구역 설치현황 데이터 다듬기

In [73]:
df8 = pd.read_csv('서울시_어린이보호구역_설치현황.csv')

df8 = df8.rename_axis('id').reset_index()

df8

        id 자치구명           도로명주소         시설명  시설종류  지정년도
0        0  종로구             경운동          교동  초등학교  2006
1        1  종로구             무악동         독립문  초등학교  2005
2        2  종로구             필운동          매동  초등학교  2005
3        3  종로구            창신3동          명신  초등학교  1995
4        4  종로구             홍지동       상명대부속  초등학교  2006
...    ...  ...             ...         ...   ...   ...
1736  1736  강동구  길동 천호대로199길 25     자이맘어린이집  어린이집  2015
1737  1737  강동구          암사길 57      구립보람나무  어린이집  2010
1738  1738  강동구             천호동        구립다온  어린이집  2020
1739  1739  강동구              길동        예크트리    학원  2021
1740  1740  강동구             암사동  오르다샘앤클래스암사    학원  2021

[1741 rows x 6 columns]

In [74]:
df8['sido'] = '서울특별시'

In [75]:
df8 = df8.rename(columns={'자치구명':'gugun','도로명주소':'address','시설명':'sname','시설종류':'stype','지정년도':'year_code'})

In [76]:
df8['year_code'] = df8['year_code'].apply(lambda _: int(_))
df8['year_code'] = df8['year_code'].apply(lambda _: str(_))
for i in range(22):
    if len(str(i)) == 1:
        df8.loc[df8['year_code'] == f'200{i}', 'year_code'] = i
    else:
        df8.loc[df8['year_code'] == f'20{i}', 'year_code'] = i

df8['year_code'] = df8['year_code'].apply(lambda _: int(_))

In [77]:
df8['year_code'] = df8['year_code'].apply(lambda x: x - 1900 if x > 1900 else x)

In [78]:
df8

        id gugun         address       sname stype  year_code   sido
0        0   종로구             경운동          교동  초등학교          6  서울특별시
1        1   종로구             무악동         독립문  초등학교          5  서울특별시
2        2   종로구             필운동          매동  초등학교          5  서울특별시
3        3   종로구            창신3동          명신  초등학교         95  서울특별시
4        4   종로구             홍지동       상명대부속  초등학교          6  서울특별시
...    ...   ...             ...         ...   ...        ...    ...
1736  1736   강동구  길동 천호대로199길 25     자이맘어린이집  어린이집         15  서울특별시
1737  1737   강동구          암사길 57      구립보람나무  어린이집         10  서울특별시
1738  1738   강동구             천호동        구립다온  어린이집         20  서울특별시
1739  1739   강동구              길동        예크트리    학원         21  서울특별시
1740  1740   강동구             암사동  오르다샘앤클래스암사    학원         21  서울특별시

[1741 rows x 7 columns]

In [80]:
df8.to_csv('어린이보호구역.csv', index=False, encoding='cp949')

## 옐로우카펫 설치 현황 데이터 다듬기

In [81]:
df9 = pd.read_csv('서울시_옐로우카펫_설치현황.csv', encoding='cp949')

# df9 = df9.rename_axis('id').reset_index()

df9

     Unnamed: 0                   주소         설치일
0             0  강남구 서울일원초등학교 학교정문 옆  2019-01-01
1             1  강남구 서울자곡초등학교 학교정문 앞  2019-01-01
2             2  강남구 서울대진초등학교 학교정문 앞  2019-01-01
3             3  강남구 서울논현초등학교 학교정문 옆  2019-01-01
4             4  강남구 서울대왕초등학교 학교정문 옆  2019-01-01
..          ...                  ...         ...
176         176         성동구 서울옥정초등학교  2020-08-30
177         177         성동구 서울용답초등학교  2018-04-30
178         178         성동구 서울응봉초등학교  2020-08-30
179         179         성동구 서울행당초등학교  2018-08-19
180         180         성동구 서울행현초등학교  2017-10-18

[181 rows x 3 columns]

In [82]:
df9 = df9.rename(columns={'Unnamed: 0':'id','설치일':'year_code','주소':'address'})

In [83]:
df9['year_code'] = df9['year_code'].apply(lambda x: int(x[:4])- 2000)

In [84]:
df9['sido'] = '서울특별시'

In [85]:
df9['address'] = df9['address'].str.replace('서울특별시', '')

In [86]:
df9['gugun'] = df9['address'].apply(lambda x: x.split()[0])

In [87]:
df9['address'] = df9['address'].apply(lambda x: x[4:].lstrip())

In [88]:
df9

      id          address  year_code   sido gugun
0      0  서울일원초등학교 학교정문 옆         19  서울특별시   강남구
1      1  서울자곡초등학교 학교정문 앞         19  서울특별시   강남구
2      2  서울대진초등학교 학교정문 앞         19  서울특별시   강남구
3      3  서울논현초등학교 학교정문 옆         19  서울특별시   강남구
4      4  서울대왕초등학교 학교정문 옆         19  서울특별시   강남구
..   ...              ...        ...    ...   ...
176  176         서울옥정초등학교         20  서울특별시   성동구
177  177         서울용답초등학교         18  서울특별시   성동구
178  178         서울응봉초등학교         20  서울특별시   성동구
179  179         서울행당초등학교         18  서울특별시   성동구
180  180         서울행현초등학교         17  서울특별시   성동구

[181 rows x 5 columns]

In [90]:
df9.to_csv('옐로우카펫.csv', index=False, encoding='cp949')

## 지역구별 인구수 데이터 다듬기

In [91]:
df10 = pd.read_csv('서울시_ 지역구별_인구수.csv')

df10 = df10.rename_axis('id').reset_index()

df10

,id,연도,구,세대,인구 합계,남성,여성,한국인 합계,한국인 남성,한국인 여성,외국인 합계,외국인 남성,외국인 여성,세대당 인구,65세이상고령자
0,0,2017,합계,4220082,10124579,4957857,5166722,9857426,4830206,5027220,267153,127651,139502,2.34,1365126
1,1,2017,종로구,73594,164257,80094,84163,154770,75967,78803,9487,4127,5360,2.10,26182
2,2,2017,중구,60412,134593,66337,68256,125709,62253,63456,8884,4084,4800,2.08,21384
3,3,2017,용산구,107666,244444,119423,125021,229161,110878,118283,15283,8545,6738,2.13,36882
4,4,2017,성동구,132902,312711,154077,158634,304808,150368,154440,7903,3709,4194,2.29,41273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,99,2020,관악구,274811,509803,255211,254592,495060,248339,246721,14743,6872,7871,1.80,78875
100,100,2020,서초구,173502,429025,205282,223743,425126,203359,221767,3899,1923,1976,2.45,60169
101,101,2020,강남구,234872,544055,260378,283677,539231,257999,281232,4824,2379,2445,2.30,75096
102,102,2020,송파구,281959,673926,325080,348846,667960,322299,345661,5966,2781,3185,2.37,93483
103,103,2020,강동구,196499,463998,228044,235954,459970,226216,233754,4028,1828,2200,2.34,70019

In [92]:
df10['연도'] = df10['연도'].apply(lambda x: x - 2000)

In [93]:
df10 = df10.rename(columns={'연도':'year_code','구':'gugun','세대':'household','인구합계':'totalPop','남성':'male','여성':'female','한국인 합계':'sumKor','한국인 남성':'korM','한국인 여성':'korF', '외국인 합계':'sumFor','외국인 남성':'forM','외국인 여성':'forF','세대당 인구':'HousePerPerson','65세이상고령자':'over65'})

In [94]:
df10

,id,year_code,gugun,household,인구 합계,male,female,sumKor,korM,korF,sumFor,forM,forF,HousePerPerson,over65
0,0,17,합계,4220082,10124579,4957857,5166722,9857426,4830206,5027220,267153,127651,139502,2.34,1365126
1,1,17,종로구,73594,164257,80094,84163,154770,75967,78803,9487,4127,5360,2.10,26182
2,2,17,중구,60412,134593,66337,68256,125709,62253,63456,8884,4084,4800,2.08,21384
3,3,17,용산구,107666,244444,119423,125021,229161,110878,118283,15283,8545,6738,2.13,36882
4,4,17,성동구,132902,312711,154077,158634,304808,150368,154440,7903,3709,4194,2.29,41273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,99,20,관악구,274811,509803,255211,254592,495060,248339,246721,14743,6872,7871,1.80,78875
100,100,20,서초구,173502,429025,205282,223743,425126,203359,221767,3899,1923,1976,2.45,60169
101,101,20,강남구,234872,544055,260378,283677,539231,257999,281232,4824,2379,2445,2.30,75096
102,102,20,송파구,281959,673926,325080,348846,667960,322299,345661,5966,2781,3185,2.37,93483
103,103,20,강동구,196499,463998,228044,235954,459970,226216,233754,4028,1828,2200,2.34,70019

In [96]:
df10.to_csv('지역구별_인구수.csv', index=False, encoding='cp949')